[Unit]
Description=Ellie Trainer
After=network.target

[Service]
ExecStart=/bin/bash /[CHANGE ME]/Trainer/service.sh
Type=simple


[Install]
WantedBy=default.target
RequiredBy=network.target